<label class="theme-switcher">
  <label for="theme-switcher" class="d-none"> Switch theme </label>
  <input name="theme-switcher" id="theme-switcher" type="checkbox" checked/>
  <span class="theme-switcher-slider"></span>
</label>

<script>
  let isSystemDark = false;

  const mq = window.matchMedia("(prefers-color-scheme: dark)");

  if (mq.matches) {
    isSystemDark = true;
    document.body.classList.add("dark");
  }

  mq.addEventListener("change", (evt) => {
    isSystemDark = evt.matches;
    document.body.classList.toggle("dark", isSystemDark);
  });

  function setIsSystemDark(event: any) {
    isSystemDark = !isSystemDark;

    const themeSwitcher = event.currentTarget as HTMLInputElement;
    themeSwitcher.checked = isSystemDark;

    document.body.classList.toggle("dark", isSystemDark);
  }

  const themeSwitcher = document.getElementById("theme-switcher");
  themeSwitcher?.addEventListener("change", setIsSystemDark);
</script>
