---
import {
  Field,
  Image,
  ImageField,
  Text,
  LinkField,
} from '@astro-sitecore-jss/astro-sitecore-jss';

import {
  ComponentParams,
  ComponentRendering,
} from "@sitecore-jss/sitecore-jss/layout";

interface Fields {
  Name: Field<string>;
  Position: Field<string>;
  Photo: ImageField;
  SocialLink1: LinkField;
  SocialIcon1: ImageField;
  SocialLink2: LinkField;
  SocialIcon2: ImageField;
  SocialLink3: LinkField;
  SocialIcon3: ImageField;
}

export type AuthorWidgetProps = {
  rendering: ComponentRendering & { params: ComponentParams };
  params: { [key: string]: string };
  fields: Fields;
};

const props: AuthorWidgetProps = Astro.props.route;
const id = props.params.RenderingIdentifier;
---

<div
  class={`component author-widget ${props.params.styles.trimEnd()}`}
  id={id ? id : undefined}
>
  <div class="author-card row g-0">
    <div class="col-auto">
      <Image field={props.fields.Photo} class="author-img" />
    </div>
    <div class="col">
      <h6 class="author-name">
        <Text field={props.fields.Name} />
      </h6>
      <p class="author-position">
        <Text field={props.fields.Position} />
      </p>
    </div>
  </div>
</div>
